anaconda-anon-usage==0.4.4
backports.tarfile==1.2.0
brotli==1.0.9
conda-content-trust==0.2.0
importlib-metadata==8.0.0
importlib-resources==6.4.0
jaraco.text==3.12.1
pip-chill==1.0.3
pysocks==1.7.1
python-dotenv==1.0.1
ruamel.yaml==0.17.21
tomli==2.0.1
